  <!-- Site footer -->
  <footer class="site-footer">
      <div class="container">
          <div class="row">
              <div class="col-md-9 col-sm-6 col-xs-12" style="padding-top: 1em;">
                  <p sttyl class="copyright-text">Desenvolvido por: Heitor Carvalho Rodrigues.</p>
              </div>

              <div class="col-md-3 col-sm-6 col-xs-12">
                <ul class="footer-links">
                    <li><a class="linkedin" href="https://www.linkedin.com/in/heitor-carvalho-rod-75b3621a0"><i class="fa fa-linkedin"></i> Linkedin</a></li>
                    <li><a class="facebook" href="https://www.facebook.com/heitor.carvalho.3344"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a class="instagram" href="https://www.instagram.com/xkheitor/?hl=pt-br"><i class="fa fa-instagram"></i> Instagram</a></li>
                </ul>
              </div>
          </div>
      </div>
  </footer>